.tall{
  height: 1900px;
}

.blue{
  color: #104E8B;
}

.dark-red{
  color: #b71c1c ;
}

.white{
  color: white;
}

.gray{
  color: gray;
}

.large{
  font-size: 25px;
}

.medium{
  font-size: 18px;
}

.center{
  align-items: center;
}

.ingresar{
  width: 50%;
}

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
.material-icons.md-96 { font-size: 96px; }
.material-icons.md-180 { font-size: 180px; }



.icon-align {
       vertical-align: text-bottom;
    }

.expanded{
  width: 100%;
}

li:hover {
    background-color: white;
    color: black;
}

li:hover span {
  color: black;
}
